 <img src='http://i.cdn.turner.com/nba/nba/media/act_<%= athlete.url_name%>.jpg'>
<div>
  <table id='popup-table'>
    <thead>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
    </thead>
    <tr>
      <td class='popup-card'><%=athlete.season_average.points%></td>
      <td class='popup-card'><%=athlete.season_average.rebounds%></td>
      <td class='popup-card'><%=athlete.season_average.assists%></td>
    </tr>
  </table>
</div>