<div class="background">

	<div class="container-fluid container">
	  <div class="row-fluid">
	    <div class="span6" id="instruction-align">
	    	<div class="well" id="instruction">
		      <h2 id="play">How to play</h2>
		      <p id="instruction-p"> Hello there,<br>
		      	The premise of this game is simple, pick a team each day that you think will acheive the best score. After you are done creating your team, challenge your friends and see who is the best fantasy player. Click the play button below to start....Good Luck!
		      </p>
		      <% if current_user %>
		      <div id="btn-center">
		      	<%=link_to 'Play!', new_team_path(current_user), :class=>"btn btn-warning btn-large" %>
		      <% end %>
		      		<div class="fb-like" data-href="https://dry-gorge-5283.herokuapp.com/" data-send="false" data-width="450" data-show-faces="true"></div>
		    	</div>
		    </div>
	    </div>
	    <div class="span6" id="leaderboard-align">
		    <div class="well" id="leaderboard">
		      <h2><u>Yesterday's Leaderboard</u></h2>
		      <table class="table">
		        <% @users.each do |user|%>
		        <tr>
		          <td><%= user.name %></td>
		          <% user.teams.each do |team|%>
		          	<td><b><%=team.points%></b> points</td>
		          	<%end%>
		        </tr>
		        <%end%>
		     </div>
	      </table>
	    </div>
	  </div>
	</div>
</div>