<h3>User Show</h3>
<%= current_user.id %><br>
<%= current_user.name %>

<div class="fb-like" data-href="https://dry-gorge-5283.herokuapp.com/" data-send="false" data-width="450" data-show-faces="true"></div>