<% 0.upto(4) do |index| %>
  <% positions = ['PG', 'SG', 'SF', 'PF', 'C'] %>
  <div href="#" class="player_card">
    <img src="/assets/empty_profile.png">
    <div class="empty_card_name">Player <%= index + 1 %></div>
  </div>
<% end %>