<div class="container centered">
  <h3>Play against <%= @game.teams[0].name %></h3>

  <div class="left_col_lg">
    <%= render 'athletes/blank' %>
  </div>

  <div class="right_col_sm">
    <%= render 'teams/athletes_list', :athletes => @athletes %>
  </div>
</div>