<div class="container centered">
  <h2>My Games</h2>

  <% @games.each do |game| %>
    <div class="games_index_team_date">
      <%= game.teams.first.date.inspect %>
    </div>
    <%= link_to render(:partial => 'matchup', :locals => {:game => game}), game_path(game) %>
      <%#= render 'matchup', :game => game %>
      <%#= link_to render(:partial => 'matchup', :locals => {:game => game}), game_path(game) %>
  <% end %>
</div>
