<h3>Game Show Page</h3>
<!-- display both users and their teams -->

<% @teams.each do |team| %>
  <%= team.name %>

<% end %>
<% unless @game.full? %>
  <%= link_to 'Join This Game', edit_game_path(@game) %>
<% end %>