div.span12 {
  background-color: yellow;
}

p.position-text {
/*  float: left;*/
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

p#pg-text {
  margin: 220px 60px 10px 80px;
}
p#sg-text {
  margin: 220px 60px 10px 270px;

}
p#sf-text {
  margin: 220px 60px 10px 460px;

}
p#pf-text {
  margin: 220px 60px 10px 650px;

}
p#c-text {
  margin: 220px 60px 10px 840px;

}

div.player_card {
  margin: 3px;
  padding: 5px;
  float: left;
  background: #eee;
  border: 1px solid #fff;
/*  font-family: "Lucida Console", Monaco, monospace;*/
  font-size: 16px;
  font-variant: small-caps;
  color: black;
  text-decoration: none;
}

div.player_card {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
 /* float: left;*/
  margin: 6px;
/*  margin-right: 20px;
  margin-bottom: 20px;*/
}

/*div.athletes > div.player_card:nth-child(5) {
  margin-left: 125px;
}*/

div.player_card img {
/*  height: 168px;
  width: 189px;*/
  height: 143px;
  width: 161px;
}

div.player_card div.name {
  font-weight: bold;
  font-size: 16px;
}

div.player_card div.stats {
  font-weight: bold;
  font-size: 12px;
}

div.delete_button {
  float: left;
/*  margin-top: -200px;*/
  margin-top: -20px;
  margin-left: 145px;
/*  z-index: -50;*/
}


div.player_points_box {
  width: 60px;
  height: 90px;
  margin: 3px;
  margin-bottom: 6px;
  padding: 6px;
  background: #eee;
  border: 1px solid #fff;
/*  font-family: "Lucida Console", Monaco, monospace;*/
  font-variant: small-caps;
  font-size: 20px;
  color: black;
  text-decoration: none;
  vertical-align: bottom;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

div.player_points_box div {
/*  background: red;*/
  padding: 36px 0;
}

div.team_points_box {
  width: 60px;
  height: 40px;
  margin: 3px;
  padding: 6px;
  background: #eee;
  border: 1px solid #fff;
/*  font-family: "Lucida Console", Monaco, monospace;*/
  font-variant: small-caps;
  font-size: 20px;
  color: black;
  text-decoration: none;
  vertical-align: bottom;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
div.team_points_box div {
/*  background: red;*/
  padding: 12px 0;
}
div.total_label {
  width: 280px;
  height: 20px;
  margin: 3px;
  padding: 16px 6px;
  background: #eee;
  border: 1px solid #fff;
/*  font-family: "Lucida Console", Monaco, monospace;*/
  font-variant: small-caps;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  vertical-align: middle;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1pxpx #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

div.player_card_small {
  width: 280px;
  height: 90px;
  margin: 3px;
  margin-bottom: 6px;
  padding: 6px;
/*  float: left;*/
  background: #eee;
  border: 1px solid #fff;
/*  font-family: "Lucida Console", Monaco, monospace;*/
  font-family: small-caps;
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-align: left;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;


}
div.player_card_small div.image {
  display: inline-block;
}
div.player_card_small div.right_text {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  padding-left: -4px;
  font-variant: small-caps;
}
div.player_card_small div.name {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  width: 210px;
/*  background: #ddd;*/
  padding-bottom: 4px;
}
div.player_card_small div.stats {
  display: inline-block;
  vertical-align: top;
  width: 210px;
/*  background: #ddd;*/
  padding: 1px 0;
}

div.player_card_mini {
  margin: 3px;
  padding: 6px;
  float: left;
  background: #eee;
  border: 1px solid #fff;
/*  font-family: "Lucida Console", Monaco, monospace;*/
  font-variant: small-caps;
  font-size: 16px;
  color: black;
  text-decoration: none;
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div.player_card_mini img {
  height: 120px;
  width: 135px;
}

div.player_card_mini div.name_mini {
  font-weight: bold;
  font-size: 14px;
}