ul#athlete-position-tabs li {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
}

table.table-striped th {
  margin-right: 0px;
  padding-right: 0px;
}


table.table-striped td {
  margin-right: 0px;
  padding-right: 0px;
}