div.player_card {
  margin: 3px;
  padding: 6px;
  float: left;
  background: #eee;
  border: 1px solid #fff;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

div.player_card img {
  height: 168px;
  width: 189px;
}

div.player_card div.name {
  font-weight: bold;
  font-size: 16px;
}

div.player_card div.stats {
  font-weight: bold;
  font-size: 12px;
}

div.delete_button {
  float: left;
/*  margin-top: -200px;*/
  margin-top: -20px;
  margin-left: 170px;
/*  z-index: -50;*/
}