// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player_text {
  padding: 2px 6px;
  font-size: 10px;
}

.player_list {
  overflow: scroll;
  border: 2px solid #000;
  height: 500px;
}