// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.background {
  background-image: url("basketball.jpg");
  background-size: 100% 100%;
  height: 1000px;

}

#btn-center{
  text-align: center;
}

#instruction-align{
  padding-top: 15%;
}

#leaderboard {
  opacity: 0.9;
}

#leaderboard-align{
  padding-top: 10px;
}

#instruction {
  opacity: 0.9;
}

#instruction-p{
  font-family: 'Courgette', cursive;
  font-size: 14pt;
  line-height: 150%;
}

#play {
  text-align: center;
}

.sign_in_text {
/*  vertical-align: middle;*/
  line-height: 40px;
}

.show-img {
	float: left;
	padding: 50px;
}

.show-parent{
	width: 50%;
	margin: 0 auto;
}

.records{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}